<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome {{user}}!</h1>

<!--   <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->
  <h3>Here Are Some Awesome Subpages!!!</h3>
  {% for page in subpages %}
    <div>
      <a href="/subpage/?sid={{ page[0] }}">{{ page[1] }}</a>
      <p>{{ page[2] }}</p>
    </div>
  {% endfor %}
  </ul>

<p><a href="/newsubpage">Create a Subpage!</a></p>
<p><a href="/newuser">Sign up!</a></p>
<p><a href="/logout">Logout</a></p>

<!-- <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form> -->

</body>


</html>
