{% block body %}
<head>
    <link rel="stylesheet" href="../static/styles/stylesheet.css">
</head>
<form action="/adduser" method="POST">
  <input type="username" name="username" placeholder="Username">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="confirmpass" name="confirmpass" placeholder="Confirm Password">
  <br>
  <p>Example: (yyyy-mm-dd)</p><input type="dob" name="dob" placeholder="Date of Birth"> 
  <br>
  <p> (Example: me@gmail.com)</p><input type="email" name="email" placeholder="Email">
  <br>
  <input type="submit" value="Sign Up">
</form>
<a href="/">BACK</a>
{% if integrity_error %}
<p>User already exists.</p>
{% endif %}
{% if date_error %}
<p>Please input valid date.</p>
{% endif %}
{% if no_username %}
<p>Please enter a username.</p>
{% endif %}
{% if no_pswd %}
<p>Please enter a password.</p>
{% endif %}
{% if no_conf %}
<p>Please confirm your password.</p>
{% endif %}
{% if no_email %}
<p>Please enter an email.</p>
{% endif %}
{% endblock %}