{% block body %}
{% if session['logged_in'] %}
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
    div{
      border-width:2px;
      border-style:solid;
      border-color:black;
    }
  </style>


<body>
  <h1>Welcome to {{subpage_title}}!</h1>
  <h2>{{subpage_desc}}</h2>
  <form action="/followSubpage/?sid={{sid}}" method="post">
    <button type="submit">Follow {{subpage_title}}</button>
  </form>

  <form action="/" method="get">
    <button type="submit">Back to homepage!</button>
  </form>

  <form action="/logout" method="get">
    <button type="submit">Logout</button>
  </form>

  <div>
    {% for title, body, user_name, uid, pid, vote_count in posts %}
      <div>
        <h3><a href="/post/?pid={{pid}}">{{title}}<a></h3>
        <p>Posted by: <a href="/user/?uid={{uid}}">{{user_name}}</p>
        <p>votes: {{vote_count}}</p>
        <form action="/votepost/?pid={{pid}}" method="post">
          <button type="submit">Vote</button>
        </form>
      </div>
    {% endfor %}
  </div>

<p><a href="/newuser">Sign up!</a></p>

<form method="POST" action="/addpost/?sid={{sid}}">
  <p>Title: <input type="text" name="title"></p>
  <p>Description: <input type="text" name="body">
  <br>
  <input type="submit" value="Submit">
  </p>
</form>
{% else %}
<p> login first! </p>
<p><a href="/">Login</a></p>
{% endif %}
{% endblock %}

</body>

</html>